/* MatrixList.css */
.matrix-list-container {
    padding: 20px;
    color: white;
  }
  
  .matrix-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .matrix-card {
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
  }
  
  .card-hover:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
  }

  .card {
    overflow: hidden; /* Обрезать контент, который выходит за пределы карточки */
  }
  
  .card-hover:hover .card-img-top {
    transform: scale(1.05); /* Увеличение изображения */
    transform-origin: center center; /* Определяем центральную точку преобразования */
    transition: transform 0.3s ease-in-out; /* Анимация увеличения */
  }
  
  .game-button{
    background-color: #342B41 !important;
    border-radius: 15px !important;
    border: 3px solid white !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .matrix-name{
    text-align: center;
    font-family: "Montserrat";
  }