build/
dist/
node_modules/
.vscode/
coverage/
*.log
.venv
node_modules
server/*/__pycache__
server/*/*.pyc
.env
server/users
server/feedback
server/__pycache__
venv
users.sqlite3
build
.vscode
.expo/
android/
ios/
android
ios
build
node_modules/
.expo/
dist/
web-build/
expo-env.d.ts
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
.env*.local
*.tsbuildinfo
build
.vscode
.expo/
android/
ios/
buildINFO/
package-lock.json