.planet-card {
  position: absolute;
  top: 10%;
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  width: 80%;
  max-width: 450px;
  
}

.segment-cards {
    position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  top: 10%;
  left: 10%;
}

.segment-card {
  width: 200px;
  margin: 10px;
  transform-origin: bottom center;
  transition: transform 0.3s ease-in-out;
}

.segment-card:hover {
    background-color: rgb(194, 194, 194);
    width: 250px;
    margin: 10px;
    transform-origin: bottom center;
    transition: transform 0.3s ease-in-out;
  }
