.planet-card {
  position: absolute;
  top: 10%;
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  width: 80%;
  max-width: 450px;
  
}

.segment-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  
}

.segment-domen{
  text-align: left;
  z-index: 23;
  background-color: rgb(0, 0, 0);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  margin-top: 20px;
  top: 5%;
  left: 5%;
  bottom: 5%;
  right: 5%;
  padding: 15px;
  border: 1px solid rgb(194, 194, 194);

  
}

.pagination-button{
  display: flex;
  justify-content: space-between;
}



.segment-card {
  width: 200px;
  margin: 10px;
  transform-origin: bottom center;
  transition: transform 0.3s ease-in-out;
}

.segment-card:hover {
    background-color: rgb(194, 194, 194);
    width: 250px;
    margin: 10px;
    transform-origin: bottom center;
    transition: transform 0.3s ease-in-out;
  }

  .text-block-solar{
    margin-right: 150px;
    padding: 35px;
    color: white;
    border: 1px solid rgb(255, 255, 255);
  }
.segment-domen-header{
  display: flex;
  justify-content: space-between;
}

.planet-name{

}

.planet-image{
  width: 150px;
  height: 150px ;

}

.return-main{
  border: 3px solid white;
  padding: 5px;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;

  max-height: 40px;
}

.segment-domen-planet{
  display: flex;
  gap: 20px;
}

.btn-CHECK{
  background-color: black;
  border: 3px solid;
  padding: 5px;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;

  align-self: last baseline;

}