.small-table-container {
  width: 100%;
  color: white;
  max-height: 320px;
  overflow-y: scroll;
}

.small-table-container table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.small-table-container th,
td {
  border: 1px solid #ddd;
  padding: 0;
}

#small-table-name {
  color: white;
  /* margin-left: 7.5rem; */
  height: 72px;
  align-content: center;
  font-size: 28px;
}

#small-table-alignment-div {
  margin-left: 7.5rem;
  width: 690px;
}

#steps-list {
  padding: 0 0 0 1rem;
  color: white;
}

#steps-list p {
  margin: 0;
}