.small-table-container {
  width: 525px;
  height: 336px;
  color: white;
  margin-left: 7.5em;
  
}

.small-table-container table {
  width: 100%;
}

.small-table-container th,
td {
  border: 1px solid #ddd;
  padding: 0;
  text-align: center;
  height: 48px;
}

