@media screen and (max-width: 991px) and (orientation: landscape) {
  .star-system {
    top: 4rem;
    left: 7rem;
  }

  .comabla {
    left: 2rem;
    top: 16rem;
    font-size: 50px;
  }

  .letsGoText {
    top: 16rem;
    left: 75%;
    font-size: 50px;
  }

  .skipButton {
    position: absolute;
    font-size: 24px;
    top: 1%;
    right: 25px;
    max-width: 200px;
    max-height: 50px;
    z-index: 1001;
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .coma-title {
    font-size: 5rem !important;
  }

  .fullScreenVideo {
    object-fit: contain !important;
    width: 100vw;
    height: 100vh;
    background-color: black;
  }

  .skipButton {
    font-size: 18px;
    bottom: 5vh;
    right: 5vw;
    padding: 8px 16px;
  }

  .challengeContainer {
    background-size: cover;
    animation: none;
  }

  .heroSection {
    justify-content: center;
    padding-top: 5vh;
  }

  .star-system {
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 150px;
  }

  .burningStar {
    top: 3rem;
    left: 5%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
  }

  .constellationLine {
    width: 250px;
    height: 150px;
  }

  .challenge-mind-text-div {
    margin-top: 5vh;
    font-size: 0.8em;
    text-align: center;
  }

  .second-page-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    margin-top: 50vh;
  }

  .comabla {
    position: relative;
    top: auto;
    left: auto;
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
  }

  .letsGoText {
    position: relative;
    top: auto;
    left: auto;
    font-size: 48px;
    text-align: center;
  }
}
