@media screen and (max-width: 991px) and (orientation: landscape) {
  .star-system {
    top: 4rem;
    left: 7rem;
  }

  .comabla {
    left: 2rem;
    top: 16rem;
    font-size: 50px;
  }

  .letsGoText {
    top: 16rem;
    left: 75%;
    font-size: 50px;
  }
  
  .skipButton {
    position: absolute;
    font-size: 24px;
    top: 1%;
    right: 25px;
    max-width: 200px;
    max-height: 50px;
    z-index: 1001;
  }
}
