.huge-table-container {
  color: white;
  max-height: 400px;
  overflow-y: auto;  
}

.huge-table-container table {
width: 100%;
text-align: center;
border-collapse: collapse;
}

.huge-table-container th,
td {
  padding: 10px;
  border: 1px solid white;
  max-height: 50px;
}

#huge-table-name {
  color: white;
  height: 72px;
  align-content: center;
  font-size: 28px;
}

#huge-table-alignment-div{
  margin-right: 3em;
  width: 690px;
}