.App {
  text-align: center;
  background-color: #0b001a;
  color: #ffd700;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #0b001a !important;

}

.challengeText {

  color: rgba(255, 255, 255, 1);
  font-size: 81px;
  font-family: 'Cursive', sans-serif;

  margin-top: 50px;
  


}