.SciencePageButtons-div button {
  color: white;
  border: 1px solid white;
  height: 3.5rem;
  width: 325px;
  border-radius: 15px;
  align-items: center;
  text-align: center;
  padding: 0;
}

.SciencePageButtons-div p {
  margin: 0;
}

.SciencePageButtons-div a {
  text-decoration: none;
  color: white
}

.SciencePageButtons-div {
  display: flex;
  gap: 1.5em;
  margin-left: 7.5em;
  margin-top: 2em;
}

#science-button {
  background-color: #4f75ff;
  display: flex;
  justify-content: center;
  /* gap: 2em; */
}

#science-button p {
  margin-right: 1rem;
}

#science-button a {
  display: flex;
  align-items: center;
}

#game-button {
  background-color: #342b41;
}

#sp-h1 {
  margin: 2.5em 0 0 7.5rem;
}
