.social-icons {
    display: flex;
    gap: 1rem;
  }
  
  .social-icons a {
    /* color: #ffd700; */
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #ffd700;
  }