.Conditions-div h2 {
    color: white;
    font-weight: 400;
    font-size: 50px;
  }
  
  .Conditions-div {
    margin: 2.5em 0 0 7.5em;
  }
  
  .Conditions-div h1 {
    color: white;
    font-size: 65px;
    width: 310px;
  }
  
  .Restrictions-div {
    color: white;
  }
  
  .Restrictions-div h1 {
    color: white;
    font-size: 65px;
    width: 310px;
  }
  
  .Restrictions-div p {
    color: white;
    font-size: 25px;
  }
  
  .Conditions-Restrictins-div {
    display: flex;
    gap: 33.5em;
  }