.Conditions-div h2 {
  color: white;
  font-weight: 400;
  font-size: 50px;
}

.Conditions-div {
    margin: 6em 0 0 7.5em;
}

.Conditions-div p{
    color: white;
    font-size: 25px;
}

.Conditions-div h1 {
    color: white;
    font-size: 65px;
    width: 310px;
}