.node-list-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 120px;
  right: -300px; /* Start off-screen, adjust the value based on your design */
  width: 300px;
  min-height: 435px;
  max-height: 635px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: right 1.3s ease-in-out;
  z-index: 2;
  color: white;

}

.node-list-container.visible {
  right: 0;
  transition: right 2.3s ease-in-out; 
}
  
  .node-list li {
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .node-list li:hover {
    background-color: rgba(169, 169, 169, 0.5) !important; /* Semi-transparent gray on hover */
  }
  
  .node-list li.highlighted {
    background-color: rgba(169, 169, 169, 0.8); /* More pronounced gray for highlighted node */
  }
  
  .local-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Добавьте стили для выделения вершин и дуг */
.node-highlight {
  border-width: 4;
}

.edge-highlight {
  width: 4;
}
.selected-nodes-list{
  padding: 15px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.node-list li {
  cursor: pointer;
}

.node-list li.highlighted {
  background-color: rgba(0, 123, 255, 0.25);
}

.stopwatch-container{
  top: 360px;
  padding: 10px;
  border-radius: 32px;
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: rgba(169, 169, 169, 0.65); */
  background-color: rgba(255, 255, 255, 0.17);

  height: 600px;
}

.stopwatch-container-buttons{
  align-self: flex-end !important;
  justify-self: end !important;
}

.stopwatch-container-time{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid white  ;
  font-size: 28px;
}

.stopwatch-container-score{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid white  ;
  font-size: 28px;
}



.stopwatch-container-table{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid white  ;
  font-size: 28px;
  height: 380px;
}

.VerticalProgressBar-container{
  height: 630px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Graph-Planet-Card-Info {
  display: flex;
  align-items: center;
}



.csv-table-container {
  color: white;
  position: relative;
  top: 10em;
  align-self: center;
  text-align: center;
}