.info-panel {
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
  color: white;
  width: 1244px;
}

.video-panel {
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
}
